# IDE
*.pyc
__pycache__/*.pyc
.idea/

# Migrations
# purbeurre/migrations/*

# test
htmlcov/
/.coverage
/.coveragerc

# data
# dump/data.json

# prod
website/settings/production.py

# conf
newrelic.ini

# SSL
ssl/
